<% layout('layout') -%>
<% block('title', "") -%>
<div class="container text-center">
    <h2>Добавление билета</h2>
<p>Введите данные билета</p>
</div>

<div class="jumbotron">
<form class="form-horizontal login-form" action="/auth/login" method="POST" name="login-form">
    <div class="form-group">
        <label for="input-username" class="col-lg-2 control-label">Откуда</label>

        <div class="col-lg-10">
            <input name="from" value="" type="text" class="form-control" id="input-username" placeholder="Откуда">
        </div>
    </div>
    <div class="form-group">
        <label for="input-password" class="col-lg-2 control-label">Куда</label>

        <div class="col-lg-10">
            <input name="to" value="" type="text" class="form-control" id="input-password" placeholder="Куда">
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary" data-loading-text="Отправляю...">Добавить</button>
            <span class="help-block error"></span>
        </div>
    </div>
</form>
</div>
<script>
    $(document.forms['login-form']).on('submit', function() {
        var form = $(this);

        $('.error', form).html('');
        $(":submit", form).button("loading");

        $.ajax({
            url: "/addticket",
            data: form.serialize(),
            method: "POST",
            complete: function() {
                $(":submit", form).button("reset");
            },
            statusCode: {
            }
        });
        return false;
    });
</script>