<% layout('layout') -%>
<% block('title', "") -%>
<div class="jumbotron">
    <div class="container">
       <div class="logo"> <img src="images/rail.png"></div>
            <div class="welcome center">
            <h2 class="text-center">Добро пожаловать!</h2>
            <h4 class="text-center">Сервис по бронированию ЖД билетов</h4>
            </div>
    </div>
</div>

