<% layout('layout') -%>
<% block('title', "") -%>
<div class="jumbotron">
    <div class="container">
        <h2 class="text-center">Добро пожаловать!</h2>
<h4 class="text-center">Сервис по бронированию ЖД билетов</h4>
        </div>
</div>

