<% layout('layout') -%>
<% block('title', "") -%>
<div class="container text-center">
<h3>Добро пожаловать, <%=user.get('login')%></h3>
</div>
<div class="jumbotron">
<p class="lead">Билетов пока нет</p>
<div id="solution2" data-value='{"name": "solution2"}'></div>
</div>