<% layout('layout') -%>
<% block('title', "") -%>
<div class="container text-center">
<h3>Добро пожаловать, <%=user.get('login')%></h3>
</div>
<div >

    <div data-bind="foreach: tickets">
        <div class="jumbotron">
            <div data-bind="text: from"></div>
            <div data-bind="text: to"></div>
        </div>
    </div>

<div id="solution2" data-value='{"name": "solution2"}'></div>
</div>
<script src="javascripts/ticketsContext.js"></script>
<script src="javascripts/ticketsViewmodel.js"></script>